@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:200|Julius+Sans+One|Dosis|Pontano+Sans|Rationale|Bungee+Inline|Poppins:300,600');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
  padding:0;
  margin:0;
}

html{
  font-family: 'Pontano Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
}

.main-wrapper{
  z-index: 3;
  position: relative;
  background: white;
  margin-bottom: 400px;
}

#dropdown{
  display: none;
}

/*HEADER*/
header{
	position: fixed;
	z-index: 5;
	width: 100%;
  padding: 35px;
  border-bottom: 3px solid rgb(23,17,43);
  height: 60px;
  display: flex;
  background-color: rgba(220,230,242,0.4);
}


#logo{
width: 30%;
}

#logo img {
	width: 200px;
	z-index: 2;
	position: absolute;
	left: 50px;
	top: 28px;
}

#logo h1{
  width: 300px;
  margin-left: 32px;
  font-size: 1em;
  color: rgb(8,8,8);
  letter-spacing: 3px;
  margin-top: 75px;
}

.header-menu{
  width: 100%;
}

.header-menu ul{
	width: 600px;
	height: 100%;
	display: flex;
	float: right;
}

.header-menu li {
  list-style: none;
  width: 100%;
}

.header-menu ul li a {
	margin-top: 25px;
  text-decoration: none;
  color: rgb(3,3,27);
  align-content: center;
  display: flex;
  letter-spacing: 3px;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.header-menu ul li:hover a{
  color: rgb(0,0,0);
  font-weight: bolder;
}

/*BACKGROUND IMAGE*/
#background-image {
  position: relative;
  max-width: 1920px;
  height: 1000px;
  background: transparent url("../images/technology-wallpaper-18.jpg");
      background-size: auto auto;
  overflow: hidden;
  background-size: cover;
  left: 0;
  right: 0;
  margin: auto;
	top: 130px;
}

#background-image:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.background-image-text{
  color: rgba(255,255,255,0.8);
  font-size: 40px;
  font-family: 'Poppins',sans-serif;
  line-height: 75px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  width: 800px;
  right: 0;
  margin: auto;
  top: 300px;
}

.background-image-text span{
  font-size: 50px;
  color: rgba(255,255,255,1);
}


/*CONTENT*/

#aboutuswrapper{
  background-color: rgb(242,248,255);
  position: relative;
  max-width: 1920px;
  height: 1000px;
  left: 0;
  right: 0;
  margin: auto;
}

.aboutuscontainer{
	padding: 100px 0px;
}

.hpbusinesspartner{
	position: relative;
	width: 100px;
}

#aboutuswrapper h3 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 36px;
  text-align: center;
  padding: 50px;
}

.aboutuscontainer > span {
	position: absolute;
  left: 0;
  text-align: center;
  margin: auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-top: 50px;
  letter-spacing: 1.5px;
  line-height: 55px;
  color: #4A4A4A;
}

.aboutuscontainer > .div-seperator{
  position: absolute;
  left: 0;
  right: 0;
}


#article-wrapper{
  position: relative;
  height: 100%;
  padding: 50px;
  text-align: center;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1920px;
}

#article-wrapper .article-box {
  padding: 20px;
  align-content: center;
}

.box-header{
  text-transform: uppercase;
  color: rgba(0,0,0,0.8);
    padding: 50px;
}

.article-box i{
font-size: 80px;
display: flex;
justify-content: center;
color: #D8D8D8;
}

.box-header h2{
  font-weight: lighter;
  font-size: 20px;
}

.box-header span{
  font-weight: bolder;
  font-size: 41px;
}
.div-seperator{
  border: 1px solid rgb(254,31,0);
  width: 70px;
  margin: auto;
}

.box-content{
  padding: 50px;
  font-size: 20px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 300;
  color: #4A4A4A;
}


.purple{
  border: 3px solid rgb(49,27,146);
}

.pink {
  border: 3px solid rgb(136,14,79);
}

.article-box .button, .article-box input {
  width: 300px;
  padding: 20px;
  border: none;
  margin: 20px 20px;
}

.simpleline-wrench{
  color: rgba(254,31,0,0.75);
}

.lineabasic-server{
  color: rgba(3,188,86,0.75);
}

.sosa-gears{
  color: rgba(59,128,246,0.75);
}


/*-----------------------------------------------------BANNER*/

#banner {
  position: relative;
  max-width: 1920px;
  height: 500px;
  background: transparent url("../images/new-banner-bg-1.jpg");
  background-size: cover;
  left: 0;
  right: 0;
  margin: auto;

}

  .text{
    position: relative;
		padding-top: 225px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 70px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    color: rgba(255,255,255,1);
  }


/*---------------------------------------OUR CLIENTS*/
#ourClients{
  max-width: 1920px;
  left: 0;
  background-color: #F7F7F7;
  right: 0;
  margin: auto;
}

#ourClients h2{
  text-align: center;
  padding-top: 150px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 36px;
  padding-bottom: 30px;
}


.clients-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.clients-box img{
  padding: 20px;
  filter: grayscale(100%);
}

.clients-box img:nth-child(1){
  max-width: 150px;
	height: 100px;
}
.clients-box img:nth-child(2){
  max-width: 230px;
	height: 100px;
}
.clients-box img:nth-child(3){
  max-width: 200px;
	height: 100px;
}
.clients-box img:nth-child(4){
  max-width: 250px;
	height: 100px;
}
.clients-box img:nth-child(5){
  max-width: 250px;
	height: 100px;
}

#expertisewrapper {
  position: relative;
  max-width: 1920px;
}

.flexwrapper{
	display: flex;
}

.flexwrapper img {
	height: 450px;
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	padding: 50px;
}

.expertisecontainer {
  max-width: 1920px;
  padding: 100px 0px;
}

.expertisecontainer h3 {
  text-align: center;
padding: 50px;
font-family: 'Julius Sans One', sans-serif;
font-size: 36px;

}

.expertisecontainer p {
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #4A4A4A;
  line-height: 40px;
	padding: 20px;
}


/*--------------------------------------BOTTOM CONTENT*/
#bottom_content_wrapper {
  display: flex;
  font-family: 'Dosis', sans-serif;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1920px;
}

.box{
	left: 0;
	right: 0;
	margin: 0px 50px;
}

#bottom_content_wrapper h2 {
  text-transform: uppercase;
  padding: 50px;
  font-size: 60px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.box ul{
margin: 20px;
display: flex;
}

.box ul li {
  padding: 20px;
  list-style-type: none;
  margin-top: 15px;
}

.box p {
  line-height: 30px;
  letter-spacing: 0.1em;
  font-size: 17px;
}

.partner-box {
	display: flex;
	width: 100%;
	position: relative;
	left: 0;
	right: 0;
	margin: 50px 0px;
	justify-content: center;
}

.partner-box img:nth-child(1){
/*filter: grayscale(100%);*/
height: 80px;
}

.partner-box img:nth-child(2){
/*filter: grayscale(100%);*/
height: 55px;
margin-left: 50px;
}

.partner-box img:nth-child(3){
	/*filter: grayscale(100%);*/
	height: 80px;
	margin-left: 50px;
}


.hppartsimg1, .hppartsimg2, .hppartsimg3{
	margin: 75px 0px;
	max-width: 470px;
}


#contactuswrapper  {
	padding: 150px 0px;
}

#contactuswrapper h3 {
  padding: 30px 0px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#contactuswrapper p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/*FOOTER*/
#footer-wrapper {
  background: url('../images/technology-wallpaper-18.jpg');
  background-size: cover;
  height: 400px;
  position: fixed;
  bottom: 0;
  max-width: 1920px;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
}

.subfooter {
  width: calc(100% - 30px);
  padding: 15px;
  background-color: rgba(0,0,0,0.6);
  height: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
}

.subfooter .socmed {
	display: flex;
	justify-content: center;
	position: relative;
	top: 150px;
	width: 50%;
}

.subfooter .socmed a {
	text-decoration: none;
}


.socmed i {
  color: rgba(255,255,255,0.8);
  background-color: rgba(141,150,151,0.6);
  border-radius: 50%;
  padding: 20px;
  margin: 0 15px;
  transition: all 300ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
}

.socmed i:hover{
  background-color: rgb(14,31,86);
  color: white;
  padding: 25px;
  font-size: 25px;
}

.subfooter .menu-desc {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.flex-wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  color: white;
}

.flex-wrapper p{
  padding: 15px 60px;
  font-size: 15px;
}

.subfooter .menu-desc ul {
  width: 100%;
}

.subfooter .menu-desc li {
  list-style: none;
  padding: 20px;
  float: left;
  text-align: center;
}

.menu-desc li > a{
  text-decoration: none;
  color: rgba(255,255,255,0.85);
  font-size: 1em;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #000000;
  transition: all 300ms cubic-bezier(0.25, 0.39, 0.39, 2.01);
}

.menu-desc li > a:hover{
  font-weight: bolder;
  color: rgba(255,255,255,1);
  text-shadow: 10px 10px 3px #000000;
}


.flex-wrapper p {
  color: rgba(255,255,255,0.6);
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
}

.flex-wrapper a{
  color: orangered;
}



/*---------MEDIA QUERIES*/

@media screen and (max-width: 480px) {
     /* start of phone styles */

/*------------HEADER*/
header{
  padding: 35px;
  border-bottom: 3px solid rgb(23,17,43);
  height: 52px;
  display: flex;
  z-index: 5;
  position: relative;
}

.main-wrapper {
  width: 479px;
  overflow: hidden;
}

.header-menu, #background-image, .box img{
  display: none;
}

#logo{
  width: 100%;
}

#logo img{
  width: 145px;
  background-color: rgba(220,230,242,0.4);
  margin: 0;
  }

.three-panel{
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}

.three-panel:hover{
  cursor: pointer;
}

.three-panel > .panel{
  border-radius: 2px;
  background-color: rgb(26,35,126);
  width: 40px;
  margin: 7.5px;
  height: 2px;
}

#dropdown{
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  border-bottom: 3px solid rgb(23,17,43);
  z-index: 1;
  opacity: 0;
}

#dropdown:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

#dropdown ul{
  width: 100%;
  background: url('../images/technology-wallpaper-18.jpg');
  background-size: cover;
}

.is-open{
 animation: slidedown 2s both;
}

@keyframes slidedown {
  0% {
    opacity: 0;
    transform: translateY(-200px);
    top: -200px
  }

  100%{
    transform: translateY(0px);
    opacity: 1;
    top: 0;
    margin-bottom: 200px;
  }
}

.is-close{
   animation: slideup 2s both;
}

@keyframes slideup {
  100% {
    opacity: 0;
    transform: translateY(-200px);
    top: -200px
  }

  0%{
    transform: translateY(0px);
    opacity: 1;
    top: 0;
    margin-bottom: 200px;
  }
}

#dropdown ul li{
  border-bottom: 1px solid rgba(255,255,255,0.8);
  height: 50px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#dropdown ul li a{
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-family: ‘Montserrat’, sans-serif;
}

/*---------BODY*/

#aboutuswrapper  {
  background-color: rgb(242,248,255);
  position: relative;
  margin-top: -200px;
}

#aboutuswrapper h3 {
font-size: 60px;
}

.aboutuscontainer > p {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 480px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding: 150px 50px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #4A4A4A;
}


#article-wrapper{
  height: 100%;
  padding: 50px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top:0;
}

#banner > .text{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: rgba(255,255,255,1);
  padding: 20px;
}

.clients-box img:nth-child(2) {
    display: none;
}

#ourClients{
  height: auto;
}

.expertisecontainer p{
  max-width: 480px;
  padding: 20px;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

#bottom_content_wrapper{
  position: relative;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
  height: 1000px;
}

#bottom_content_wrapper h2{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#bottom_content_wrapper .box > .div-seperator{
  max-width: 480px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 200px auto;
}

.box ul{
  position: absolute;
  left: 0;
  right: 0;
  margin: 250px auto;
  max-width: 480px;
}

.box p{
  position: absolute;
  left: 0;
  right: 0;
  margin: 450px 20px;
}

#contactuswrapper{
  max-width: 480px;
  position: absolute;
  margin: 700px auto;
}

#contactuswrapper .contactuscontainer > p {
  width: 430px;
  position: absolute;
  margin: auto;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1.5px;
}

/*-------FOOTER*/


#footer-wrapper .subfooter > .socmed a{
  margin: 35px auto;
}

#footer-wrapper .subfooter > .socmed{
  width: 20%;
}


.subfooter .menu-desc ul{
  font-size: 11px;
  padding: 20px;
  display: flex;
  width: 365px;
}


} /*-------- END OF PHONE STYLES*/

@media screen (min-width: 481px) and (max-width: 768px) {
     /* start of medium tablet styles */
.main-wrapper{
  overflow: hidden;
}

header{
  height: 52px;
}

#logo img {
  margin: 0;
}

#background-image{
  height: 500px;
  position: relative;
}

#background-image .background-image-text{
  font-size: 25px;
  position: relative;
  top: 55px;
  width: 75%;
}

.background-image-text span{
  font-size: 40px;
}

.header-menu ul li a{
  font-size: 12px;
}

#aboutuswrapper h3{
  font-size: 60px;
}

#aboutuswrapper p{
  max-width: 768px;
  padding: 80px 20px;
  font-size: 15px;
}

#article-wrapper{
  padding: 0px;
}

#article-wrapper .article-box{
  padding: 0px;
  margin-top: 50px;
}

.article-box i{
  font-size: 65px;
}

.box-header h2{
  font-size: 15px;
}

.box-header span{
  font-size: 30px;
}

.box-content{
  font-size: 15px;
}

.text{
  padding: 20px;
  font-size: 64px;
}

#ourClients{
  height: auto;
}

#bottom_content_wrapper .box:nth-child(1){
  width: 100%;
}

#bottom_content_wrapper .box:nth-child(2){
  position: absolute;
  display: none;
}

#bottom_content_wrapper h2 {
  width: 100%;
}

#bottom_content_wrapper .partner-box{
  margin: 50px auto;
}

#bottom_content_wrapper img {
  width: 100%;
}

#contactuswrapper{
  padding: 50px 0px;
}

.box > img{
  display: none;
}

.expertisecontainer p{
  max-width: 768px;
  padding: 20px;
  font-size: 15px;
  line-height: 46px;
}

.subfooter .socmed{
  width: 30%;
}

.subfooter .menu-desc{
  width: 70%;
}
}


@media screen and (max-width: 991px) {
     /* start of large tablet styles */
#logo img{
  margin-left: 25px;
}

#aboutuswrapper p{
  font-size: 15px;
  padding: 35px;
  margin-top: 100px;
}

#article-wrapper{
  padding-top: 100px;
}

#article-wrapper .article-box{
  padding: 0px;
}

.text{
  padding: 0px 40px;
  margin: 0px 27px;
}

#ourClients{
  height: auto;
}

.box{
  width: 50%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.box img{
  width: 420px;
  height: 200px;
}

.box > img:nth-child(1){
  height: 235px;
}

.box > img:nth-child(2){
  height: 160px;
}

.partner-box img{
  padding: 20px;
}


.expertisecontainer p {
  font-size: 20px;
  padding: 30px;
  line-height: 50px;
}

#bottom_content_wrapper{
  padding-top: 100px;
}

#contactuswrapper p{
  padding-bottom: 100px;
}
